/* Foundation v2.2 http://foundation.zurb.com */
/* This is for all IE specfific style less than IE9. We hate IE. */

	div.panel { border: 1px solid #ccc; }
	.lt-ie8 .nav-bar li.has-flyout a { padding-right: 20px; }
	.lt-ie8 .nav-bar li.has-flyout a:after { border-top: none; }
	
	/* Correct IE7 button padding */
	.lt-ie8 input[type=submit].nice.button { filter:chroma(color=#000000); position: relative; top: -2px; }
	.lt-ie8 input[type=submit].tiny.button		{ padding: 5px 5px 7px; }
	.lt-ie8 input[type=submit].small.button		{ padding: 8px 7px 9px; }
	.lt-ie8 input[type=submit].medium.button	{ padding: 9px 13px 9px; }
	.lt-ie8 input[type=submit].large.button		{ padding: 9px 18px 10px; }

    .lt-ie8 .m_cont {padding-top:30px}
    .lt-ie8 .ntf_tip {width:100%}
    
    .lt-ie8 .box_c_ico img {margin-top:7px}
    .lt-ie8 #nestedAcc ul {overflow:hidden;display:block}
    .lt-ie8 ul.pagination {padding-bottom:10px}
    .lt-ie8 header {position:relative;z-index:1000}
    .lt-ie8 form.custom div.custom.dropdown {z-index:10}
    .lt-ie8 ul.tabs a {height:30px}
    .lt-ie8 input.expand, .lt-ie8 textarea.expand {width:94%;margin-left:0;margin-right:0;position:relative}
    .lt-ie8 .column + .column, .columns + .columns {display:inline;zoom: 1}
	.lt-ie8 .paging_full_numbers .paginate_button, .paging_full_numbers .paginate_active {padding:0 5px;display:inline;zoom:1}
	.lt-ie8 .paging_full_numbers {height:18px}

	.lt-ie8 .ddsmoothmenu ul li ul {background: #fff}
	.lt-ie8 .ddsmoothmenu ul li ul li ul{left:-1000px}

	.lt-ie8 .box_c_content, .lt-ie8 .box_s_reg {border: none}
	.lt-ie8 .box_c_content {padding: 10px 6px}
	.lt-ie8 .h_scrollable .items { zoom:1 }