
.tabs {
	width:100%;
	display:inline-block;
	margin-top:30px;
}
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}
.tab-links li {
	margin:0px -21px 0 22px;
	float:left;
	list-style:none;
}
.tab-links a {
	padding:6px 13px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#c3c3c3;
	color:#000;
	transition:all linear 0.15s;
	text-decoration:none;
}
.tab-links a:hover {
	background:#05508E;
	text-decoration:none;
	color:#fff;
}
li.active a, li.active a:hover {
	background:#05508E;
	color:#fff;
}
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0, 0, 0, 0.15);
	background:#fff;
	opacity:0.87;
	width:95%;
        border: 1px solid #EAEAEA;
        margin-left: 20px;
        margin-bottom: 15px;
}
.tab {
	display:none;
}
.tab.active {
	display:block;
}
