.myrs-pagination {
    /*background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #F0F0F0;
    color: #666666;
    font-size: 1.1em;
    /*margin-bottom: 1em;*/
    /*padding: 5px;
    text-shadow: 0 1px 0 #FFFFFF;*/
    /*border:1px solid #dcdcdc;cursor:pointer;margin:0 0 0 5px;padding:2px 5px;font-size:11px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;border-radius: 2px;color:#222 */
    position:relative;
}

.myrs-pagination td {
    border: medium none !important;
    padding: 0 !important;
}

.myrs-pagination a {
    color: #666666;
    text-decoration: none;
}
.myrs-pagination a:hover {
    /* background-color: #F8F8F8;
     color: #0069AB; */
    background-color:#e6e6e6;
}

.myrs-pagination .nextLink, .myrs-pagination .prevLink, .myrs-pagination .step, .myrs-pagination .currentStep, .myrs-pagination .rangeTotal {
    /*border: 1px solid #EDF6F9;
    float: left;
    padding: 5px;
    position: relative;*/
    border:1px solid #dcdcdc;cursor:pointer;margin:0 0 0 5px;padding:2px 5px;font-size:11px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;border-radius: 2px;color:#222
}

.myrs-pagination .nextLink {
    background: url("../../images/resultset_next.gif") no-repeat scroll right center transparent;
    margin-right: 20px;
    padding-right: 21px;
}

.myrs-pagination .prevLink {
    background: url("../../images/resultset_previous.gif") no-repeat scroll left center transparent;
    padding-left: 21px;
}

.myrs-pagination .currentStep, .myrs-pagination .rangeTotal {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9E9F0;
}
.myrs-pagination .currentStep {
    font-weight: bold;
    background-color: #E6E6E6;
}

.myrs-pagination .rangeTotal {

    float: right;

    font-size:10px;

}

.myrs-pagination-total {

    display: block;

    float: left;

}

.myrs-pagination-maxvalue {

    display: none;

    float: left;

    margin-left: 10px;

    white-space: nowrap;

}

.myrs-pagination .myrs-pagination-maxvalue-toggler {

    background-image: url("../../images/myrs-maxvalue-light.png");

    background-position: right center;

    background-repeat: no-repeat;

    padding-right: 10px;

}

.myrs-pagination .myrs-pagination-maxvalue-toggler:hover {

    background-color: #FFFFFF;

    background-image: url("../images/myrs-maxvalue.png");

    color: #333333;

}

.myrs-pagination-maxvalue-list {

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid #D0CAC6;

    border-radius: 3px 3px 3px 3px;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    display: none;

    position: absolute;

    right: 0;

    top: 18px;

    z-index: 999999;

    width:86px;

    padding-right:5px; 

    font-size:10px;

    margin-top:-2px;

}

.myrs-pagination-maxvalue-list a {
    display: block;
    padding: 5px 0 0 0;
    margin-left: -20px;
}

.myrs-pagination-maxvalue-list ul{
    list-style:none;
}



div.myrs-pagination table

{

    border-bottom: 0px none;

    border-left: 0px none;

    margin: 0 0 0 0;

    width: 100%;

}



div.myrs-pagination table td

{

    background-color:Transparent;

    border-right: 0px none;

}