<table style="border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;" width="99%">
    <tr>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;<img src="{#logo}logo.png"></td>
    </tr>
    <tr>
        <td>
        	<table align=center border=0 width=100%>
        		<tr>
          			<td>
                    	<table border="0" width="100%">
              				<tr>
                				<td colspan=2 bgcolor="black" height=30 valign="middle">
                                	&nbsp; 
                                    <font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="+2">
                                    	<strong>Order Information</strong>
									</font> 
								</td>
              				</tr>
                            <tr>
                            	<td height="20"></td>
                            </tr>
                            <tr>
                            	<td height="20"><font face="Arial, Helvetica, sans-serif">Dear {#fullname},</font></td>
                            </tr>
                            <tr>
                            	<td height="10"></td>
                            </tr>
                            <tr>
                            	<td height="20">
                                	<font face="Arial, Helvetica, sans-serif">
                                		Thank you for your order from Apartment First. We will get back to you soon.
                                	</font>
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                            	<td height="20">&nbsp;<font face="Arial, Helvetica, sans-serif">
                                	If you have any questions about your order please contact us at info@apartmentfirst.com.au or call us on (+61) 2 9518 8828</font>
								</td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                            	<td>
                                	<table align="left" border="0" width="98%">
										<tr>
											<td>
                                            	<table border="0" width="99%"  cellspacing="0" cellpadding="0" >
													<thead>
														<tr>
															<th bgcolor="#E0E0E0" height="30" align="left"> 
                                                            	<font face="Arial, Helvetica, sans-serif">&nbsp;&nbsp;Order Detail</font> 
															</th>
														</tr>
													</thead>
                                                    
                                                    <tr>
                                                        <td style="vertical-align: top;">
                                                        	<table width="100%">
                                                            	<tbody>
																	<tr>
                                                                        <td width="49%"><font face="Arial, Helvetica, sans-serif"> <strong>Order No:</strong>#{$orderid}</font> </td>
																		<td><font face="Arial, Helvetica, sans-serif"> <strong>Customer Name:</strong>{#billing_fullname}</font> </td>
																	</tr>
                                                                    <tr>
                                                                        <td><font face="Arial, Helvetica, sans-serif"> <strong>Order Date:</strong>{#order_date}</font> </td>
                                                                        <td><font face="Arial, Helvetica, sans-serif"> <strong>Payment Type:</strong>{#payment_type}</font> </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><font face="Arial, Helvetica, sans-serif"> <strong>Order Status:</strong>{#order_status}</font></td>
                                                                        <td><font face="Arial, Helvetica, sans-serif"> <strong>Payment Status:</strong>{#payment_status}</font> </td>
                                                                </tbody>
															</table>
														</td>
													</tr>
                                                    
													<tr>
														<td height="30"></td>
													</tr>
                                                    
                                                    <tr>
														<td>
                                                        	<table  width="99%" border="0" cellspacing="0" cellpadding="0" >
																<thead>
                                                                    <tr>
																		<th bgcolor="#E0E0E0" height="30" align="left">&nbsp;&nbsp;
                                                                        	<font face="Arial, Helvetica, sans-serif">Billing Details</font>
																		</th>
																		<th bgcolor="#E0E0E0" height="30" align="left">
                                                                        	<font face="Arial, Helvetica, sans-serif">Shipping Details</font>
																		</th>
																	</tr>
																</thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: top;">
                                                                        	<table width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Name:</strong>{#billing_fullname}</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Address: </strong> {#billing_address}</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Email:</strong>{#billing_email}</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Phone No.:</strong>{#billing_phone}</font></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
																		</td>
                                                                    
                                                                        <td style="vertical-align: top;">
                                                                            <table width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td><font face="Arial, Helvetica, sans-serif"><strong>Name:</strong>{#shipping_fullname}</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><font face="Arial, Helvetica, sans-serif"><strong>Address: </strong> {#shipping_address}</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><font face="Arial, Helvetica, sans-serif"><strong>Email:</strong>{#shipping_email}</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><font face="Arial, Helvetica, sans-serif"><strong>Phone No.:</strong>{#shipping_phone}</font></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
                                                
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"><h2><font face="Arial, Helvetica, sans-serif">PROPERTY DETAIL</font></h2></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20">
                                                            <table border="1" width="100%">
                                                                <tr>
                                                                    <td>Property Title</td>
                                                                </tr>
                                                            
                                                            </table>
                                                        </td>
                                                    </tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
                        <tr>
                            <td height="10"></td>
                        </tr>
                        <tr>
                            <td height="10">
                                <font face="Arial, Helvetica, sans-serif"> Thanks,<br>Apartment First </font> 
                            </td>
                        </tr>
            		</table>
				</td>
        	</tr>
		</table>
	</td>
</tr>
</table>
