<table style="border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;" width="99%">
	<tr><td></td></tr>
    <tr>
      <td colspan="3">&nbsp;<img src="{#logo}logo.png"></td>
    </tr>
    <tr>
        <td>
            <table align=center border=0 width=100%>
                <tr>
                    <td>
                        <table border="0" width="100%">
                            <tr>
                                <td colspan=2 bgcolor="black" height=30 valign="middle">&nbsp;
                                    <font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="+2"><strong>New Enquiry</strong></font>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td height="20"><font face="Arial, Helvetica, sans-serif">Dear Admin,</font></td>
                            </tr>
                            <tr>
                                <td height="20"><font face="Arial, Helvetica, sans-serif">Please find below new enquiry</font></td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                            	<td>
                                	<table align="left" border="0" width="98%">
                                    	<tr>
                                            <td width="20%"><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Full Name:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#fullname}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Email:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#email}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Phone:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#phone}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Check In:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#checkin}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Check Out:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#checkout}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>No Of Days:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#days}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>No Of People:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#noofpeople}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Message:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#message}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>Enquiry Date:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#enquirydate}</font></td>
                                        </tr>
                                        <tr>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif"><strong>IP Address:</strong></font></td>
                                            <td><font size="-1" face="Arial, Helvetica, sans-serif">{#ipaddress}</font></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td height="10">
                                	<font face="Arial, Helvetica, sans-serif">
                                	Thanks,<br>
                                    {#fullname}
                                    </font>
                                </td>
                            </tr>
                            
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
