<table style="border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;" width="99%">

  <tr>

    <td></td>

  </tr>

  <tr>

    <td colspan="3">&nbsp;<img src="{#logo}logo.png"></td>

  </tr>

  <tr>

    <td><table align=center border=0 width=100%>

        <tr>

          <td><table border="0" width="100%">

              <tr>

                <td colspan=2 bgcolor="black" height=30 valign="middle">&nbsp; <font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="+2"><strong>{#reply_type}</strong></font> </td>

              </tr>

              <tr>

                <td height="20"></td>

              </tr>

              <tr>

                <td height="20"><font face="Arial, Helvetica, sans-serif">{#fullname},</font></td>

              </tr>

              <tr>

                <td height="10"></td>

              </tr>

              <tr>

                    <td height="20">

                        <font face="Arial, Helvetica, sans-serif">

                        <br /> <br>

                        {#msg}

                        </font>

                    </td>

              </tr>

              <tr>

                <td height="10"></td>

              </tr>

              <tr>

                <td height="10">

                    <font color="#D9575D" face="Arial, Helvetica, sans-serif" >

                    

                    <a target="_blank" href="{#site_url}"><strong>CLICK TO BOOK THIS PROPERTY NOW</strong></a>

                    </font>

                </td>

              </tr>

              <tr>

                <td height="10"></td>

              </tr>

              

              <tr>

                <td><table align="left" border="0" width="98%">

                    <tr>

                      <td><table border="0" width="99%"  cellspacing="0" cellpadding="0" >

                          

                          <tbody>

                            

                            

                            <tr>

                              <td><table  width="99%" border="0" cellspacing="0" cellpadding="0" >

                                  <thead>

                                    <tr>

                                      <th colspan="2" bgcolor="#E0E0E0" height="30" align="left">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif">Enquiry Detail</font></th>

                                      

                                    </tr>

                                  </thead>

                                  <tbody>

                                    <tr>

                                      <td colspan="2" style="vertical-align: top;"><table width="100%">

                                          <tbody>

                                            <tr>

                                              <td width="35%">&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Arrival Date:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#arrival_dates}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Departure Date:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#dept_dates}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Days:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#noofday}</font></td>

                                            </tr>

                                          </tbody>

                                        </table></td>

                                    </tr>

                                  </tbody>

                                </table></td>

                            </tr>

                            <tr>

                              <td height="30"></td>

                            </tr>

                            <tr>

                              <td height="20"><h2><font face="Arial, Helvetica, sans-serif">PROPERTY DETAIL</font></h2></td>

                            </tr>

                            

                            <tr>

                              <td height="20">

                              	<table border="0" width="99%" cellspacing="0" cellpadding="0" >

                                  <thead>

                                    <tr bgcolor="#E0E0E0" height="30">
                                    
                                    <th align="left">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif">Property Image</font> </th>

                                      <th align="left">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif">Property Name</font> </th>

                                      <th align="left"><font face="Arial, Helvetica, sans-serif">Property Price</font></th>

                                      <th align="left"><font face="Arial, Helvetica, sans-serif">Property Type</font></th>

                                      <th align="left"><font face="Arial, Helvetica, sans-serif">Address</font>&nbsp;&nbsp;</th>

                                    </tr>

                                  </thead>

                                  <tbody>

                                  	<tr><td colspan="10" height="10" ></td></tr>

                                    

                                    {#property_detail}

                                    <tr>

                                    	<td height="10"></td>

                                    </tr>

                                    

                                    <tr>

                                        <td colspan="10" height="10" align="right" >

                                            <table border="0" width="40%" bgcolor="#999999"  >

                                                <tr>

                                                    <td align="right" >

                                                        <table  border="0" width="100%" cellspacing="0" cellpadding="0" style="color:#fff;" >

                                                            <tr>

                                                                <td height="5"></td>

                                                            </tr>

                                                            <tr>

                                                                <td><font face="Arial, Helvetica, sans-serif">Exit Clean</font></td>

                                                                <td><font face="Arial, Helvetica, sans-serif">{#exit_clean}</font></td>

                                                            </tr>

                                                            <tr>

                                                                <td><font face="Arial, Helvetica, sans-serif">Booking Fee</font></td>

                                                                <td><font face="Arial, Helvetica, sans-serif">{#booking_fee}</font></td>

                                                            </tr>

                                                            <tr>

                                                                <td><font face="Arial, Helvetica, sans-serif">Cleaning & Linen Deposit (refundable)</font></td>

                                                                <td><font face="Arial, Helvetica, sans-serif">{#cleaning_deposit}</font></td>

                                                            </tr>
                                                            
                                                            <tr>

                                                                <td><font face="Arial, Helvetica, sans-serif">Internet</font></td>

                                                                <td><font face="Arial, Helvetica, sans-serif">{#internet}</font></td>

                                                            </tr>

                                                            <tr>

                                                                <td><font face="Arial, Helvetica, sans-serif">Total</font></td>

                                                                <td><font face="Arial, Helvetica, sans-serif">{#total}</font></td>

                                                            </tr>
                                                            
                                                            <tr>

                                                                <td><font face="Arial, Helvetica, sans-serif">First Invoice</font></td>

                                                                <td><font face="Arial, Helvetica, sans-serif">{#first_invoice}</font></td>

                                                            </tr>

                                                            <tr>

                                                                <td height="5"></td>

                                                            </tr>

                                                        </table>

                                                    </td>

                                                </tr>

                                            </table>

                                            

                                        </td>

                                    </tr>

                                    

                                  </tbody>

                                </table></td>

                            </tr>

                          </tbody>

                        </table></td>

                    </tr>

                    <tr>

                        <td height="20"></td>

                    </tr>

                    <tr>

                        <td height="10">

                            <font face="Arial, Helvetica, sans-serif"> 

                            

                                Please note that due to the popularity of Apartments First availability is very limited. A credit card surcharge is applicable of 1.5% on all credit card transactions, Amex will attract a 2.5% surcharge. If you would like to book the property please click the Book this property button to fill in your details. Once you fill in the booking form Apartments First will issue you with a tax invoice for payment. Payment can be made online via our secure payment system for credit cards or bank transfer. Thank you for the opportunity to quote for your accommodation requirements. 

                            </font> 

                        </td>

                    </tr>

                    <tr>

                        <td height="10"></td>

                    </tr>

                    <tr>

                        <td height="10">

                            <font face="Arial, Helvetica, sans-serif">Thank You</font> 

                        </td>

                    </tr>

                    <tr>

                        <td height="10"></td>

                    </tr>

                    <tr>

                        <td><img width="200" src="http://aos-demo.com/apartmentfirst/images/logo.png"></td>

                    </tr>

                    <tr>

                        <td height="5"></td>

                    </tr>

                    <tr>

                        <td>

                            <font size="2" face="Arial, Helvetica, sans-serif">

                            Suite G0.4<br>

                            55 Miller Street<br>

                            Pyrmont NSW 2009<br>

                            Sydney, Australia<br>

                            Ph: + 612 9518 8828<br>

                            Fax: + 612 9518 8829

                            </font>

                        </td>

                    </tr>

                    

                    

                    <tr>

                        <td height="30"></td>

                    </tr>

                    <tr>

                        <td height="10">

                            <h2>

                                <font face="Arial, Helvetica, sans-serif">

                                    <strong>YOUR ENQUIRY</strong>

                                </font>

                            </h2>

                        </td>

                    </tr>

                    

                    <tr>

                              <td><table  width="99%" border="0" cellspacing="0" cellpadding="0" >

                                  <thead>

                                    <tr>

                                      <th colspan="2" bgcolor="#E0E0E0" height="30" align="left">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif">Enquiry Detail</font></th>

                                      

                                    </tr>

                                  </thead>

                                  <tbody>

                                    <tr>

                                      <td colspan="2" style="vertical-align: top;"><table width="100%">

                                          <tbody>

                                            <tr>

                                              <td width="35%">&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Arrival Date:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#arrival_date}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Departure Date:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#dept_date}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Adults:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#adult}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Childs:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#child}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Infants:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#infants}</font></td>

                                            </tr>

                                            

                                            <tr>

                                              <td valign="top">&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Message:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#comment}</font></td>

                                            </tr>

                                            

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Similar properties available in same area:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#similar}</font></td>

                                            </tr>

                                            <tr>

                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Similar properties available in surrounding area:</strong></font></td>

                                              <td><font face="Arial, Helvetica, sans-serif">{#surrounding}</font></td>

                                            </tr>

                                            

                                            

                                          </tbody>

                                        </table>

                                      </td>

                                      

                                    </tr>

                                </tbody>

                            </table>

                        </td>

                    </tr>

                  </table>

                </td>

              </tr>

              <tr>

                <td height="10"></td>

              </tr>

              

            </table></td>

        </tr>

      </table></td>

  </tr>

</table>

