<table style="margin:20px;font-family:Arial,Helvetica,sans-serif;color:#005;font-size:12px">
    <tbody><tr>
        <td colspan="2"><img width="141" height="108" src="https://ci5.googleusercontent.com/proxy/lTOMRQ9003HVaUEdK52DTPZWfj0KwdAdVvqLpWMmYC9sm6lxGouuPqIq03M4CfzZe7JBJouL71CGMS1Wl-cmYqrE_pnpx_Ry7nDrFZsyUDHHx_pK46um5cafJ7l_kQk=s0-d-e1-ft#http://www.furnishedproperties.com.au/assets/templates/FP/images/logo.gif" class="CToWUd"></td>
    </tr>
    <tr>
        <td colspan="2"><p><br><strong>You have enquired about the following properties. We will be back to you soon with quotes for each.</strong></p>
        <p><a target="_blank" href="http://www.furnishedproperties.com.au//chippendale/central-park-ave-01.html">Chippendale - Central Park Ave</a><br>
		<a target="_blank" href="http://www.furnishedproperties.com.au//camperdown/dunblane-street-camperdown-sydney-01.html">Camperdown  - Dunblane Street</a><br></p><br></td>
    </tr>
    <tr>
        <td colspan="2"><p>Enquiry Details are:</p><br></td>
    </tr>
    <tr>
        <td><strong>Name:</strong></td>
        <td>{#fullname}</td>
    </tr>
    <tr>
        <td><strong>Email:</strong></td>
        <td><a target="_blank" href="#">{#email}</a></td>
    </tr>
    <tr>
        <td><strong>Contact Number:</strong></td>
        <td>{#contactnum}</td>
    </tr>
    <tr>
        <td><strong>Arrival Date:</strong></td>
        <td><span data-term="goog_601636702" class="aBn" tabindex="0"><span class="aQJ">{#arrivaldate}</span></span></td>
    </tr>
    <tr>
        <td><strong>Departure Date:</strong></td>
        <td><span data-term="goog_601636703" class="aBn" tabindex="0"><span class="aQJ">{#departuredate}</span></span></td>
    </tr>
    <tr>
        <td><strong>Adults:</strong></td>
        <td>{#adult}</td>
    </tr>
    <tr>
        <td><strong>Children:</strong></td>
        <td>{#children}</td>
    </tr>
    <tr>
        <td><strong>Infants:</strong></td>
        <td>{#infants}</td>
    </tr>
    <tr>
        <td><strong>Similar properties available in same area:</strong></td>
        <td>{#similararea}</td>
    </tr>
    <tr>
        <td><strong>Similar properties available in surrounding areas:</strong></td>
        <td>{#surroundingarea}</td>
    </tr>
    <tr>
        <td><strong>Enquiry:</strong></td>
        <td>{#message}</td>
    </tr>
</tbody>

</table>