<table style="border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;" width="99%">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;<img src="{#logo}logo.png"></td>
  </tr>
  <tr>
    <td><table align=center border=0 width=100%>
        <tr>
          <td><table border="0" width="100%">
              <tr>
                <td colspan=2 bgcolor="black" height=30 valign="middle">&nbsp; <font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="+2"><strong>New Enquiry</strong></font> </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td height="20"><font face="Arial, Helvetica, sans-serif">Dear Admin,</font></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td height="20"><font face="Arial, Helvetica, sans-serif">Please find below new Enquiry From {#fullname}</font></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td><table align="left" border="0" width="98%">
                    <tr>
                      <td><table border="0" width="99%"  cellspacing="0" cellpadding="0" >
                          <thead>
                            <tr>
                              <th bgcolor="#E0E0E0" height="30" align="left"> <font face="Arial, Helvetica, sans-serif">&nbsp;&nbsp;Personal Information</font> </th>



                            </tr>



                          </thead>



                          <tbody>



                            <tr>



                              <td style="vertical-align: top;"><table width="100%">



                                  <tbody>



                                    <tr>



                                      <td width="49%"><font face="Arial, Helvetica, sans-serif"> <strong>Full Name:</strong>{#fullname}</font> </td>



                                      <td><font face="Arial, Helvetica, sans-serif"> <strong>Email:</strong>{#email}</font> </td>



                                    </tr>



                                    <tr>



                                      <td><font face="Arial, Helvetica, sans-serif"> <strong>Enquiry Date:</strong>{#enquiry_date}</font> </td>



                                      <td><font face="Arial, Helvetica, sans-serif"> <strong>Phone:</strong>{#phone}</font> </td>



                                    </tr>



                                    



                                  </tbody>



                                </table></td>



                            </tr>



                            <tr>



                              <td height="30"></td>



                            </tr>



                            <tr>



                              <td><table  width="99%" border="0" cellspacing="0" cellpadding="0" >



                                  <thead>



                                    <tr>



                                      <th colspan="2" bgcolor="#E0E0E0" height="30" align="left">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif">Enquiry Detail</font></th>



                                      



                                    </tr>



                                  </thead>



                                  <tbody>



                                    <tr>



                                      <td colspan="2" style="vertical-align: top;"><table width="100%">



                                          <tbody>



                                            <tr>



                                              <td width="35%">&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Arrival Date:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#arrival_date}</font></td>



                                            </tr>



                                            <tr>



                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Departure Date:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#dept_date}</font></td>



                                            </tr>



                                            <tr>



                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Adults:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#adult}</font></td>



                                            </tr>



                                            <tr>



                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Childs:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#child}</font></td>



                                            </tr>



                                            <tr>



                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>No Of Infants:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#infants}</font></td>



                                            </tr>



                                            



                                            <tr>



                                              <td valign="top">&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Message:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#comment}</font></td>



                                            </tr>



                                            



                                            <tr>



                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Similar properties available in same area:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#similar}</font></td>



                                            </tr>



                                            <tr>



                                              <td>&nbsp;<font face="Arial, Helvetica, sans-serif"><strong>Similar properties available in surrounding area:</strong></font></td>



                                              <td><font face="Arial, Helvetica, sans-serif">{#surrounding}</font></td>



                                            </tr>



                                            



                                            



                                          </tbody>



                                        </table></td>



                                      



                                    </tr>



                                  </tbody>



                                </table></td>



                            </tr>



                            <tr>



                              <td height="30"></td>



                            </tr>



                            <tr>



                              <td height="20"><h2><font face="Arial, Helvetica, sans-serif">PROPERTY DETAIL</font></h2></td>



                            </tr>



                            



                            <tr>



                              <td height="20">



                              	<table border="0" width="99%" cellspacing="0" cellpadding="0" >



                                  <thead>



                                    <tr bgcolor="#E0E0E0" height="30">



                                      <th align="left">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif">Property Name</font> </th>



                                      <th align="left"><font face="Arial, Helvetica, sans-serif">Property Price</font></th>



                                      <th align="left"><font face="Arial, Helvetica, sans-serif">Property Type</font></th>



                                      <th align="left"><font face="Arial, Helvetica, sans-serif">Address</font>&nbsp;&nbsp;</th>



                                    </tr>



                                  </thead>



                                  <tbody>



                                  	<tr><td colspan="10" height="10" ></td></tr>



                                    



                                    {#property_detail}



                                    <tr>



                                    	<td height="10"></td>



                                    </tr>



                                    



                                  </tbody>



                                </table></td>



                            </tr>



                          </tbody>



                        </table></td>



                    </tr>



                  </table></td>



              </tr>



              <tr>



                <td height="10"></td>



              </tr>



              <tr>



                <td height="10">



                    <font face="Arial, Helvetica, sans-serif"> Thanks,<br>



                        {#fullname}



                    </font> 



                </td>



              </tr>



            </table></td>



        </tr>



      </table></td>



  </tr>



</table>



